<network>
  <name>ignit</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='virbr5' stp='on' delay='0'/>
  <mac address='52:54:00:ab:7b:c4'/>
  <ip address='${ip_base}.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='${ip_base}.1' end='${ip_base}.254'/>
      <!-- reserve this ip for the master node -->
      <host mac='52:54:00:fe:b3:c0' ip='${ip_base}.101'/>
    </dhcp>
  </ip>
</network>
